html {
	margin: 0;
	padding: 0;
	}


	

a:link {text-decoration:underline; color: #0276FD;}    /* unvisited link */
a:visited {text-decoration:none; color: #60AFFE;} /* visited link */
a:hover {text-decoration:none; color: #60AFFE;}   /* mouse over link */
a:active {text-decoration:none; color: #60AFFE;}  /* selected link */

body {
	width: 860px;
	font: normal 90% 'Merriweather', serif;
	color: #333;
	margin: 0px auto;
	padding: 0px 10px;
	}
	
/* Navigation  */

nav {text-align:center;}

nav > ul > li {
	display:inline;
	margin-bottom: 20px;
	padding-right: 10px;
	}

h1 {
	text-align:center;
	font-family: 150% 'Raleway', sans-serif;
	}
	
/* Content */


div > ul {
	/*border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;*/
	padding: 20px 0;
}
span {
	float: right;
}
div > h2 > a:link {text-decoration:none; color: #0276FD}    /* unvisited link */
}

/* Footer */

footer	{
	font-size:x-small; 
	border: black 1px solid;
	}
footer > p > span > a:link {
	text-decoration:none;
	color:#FFA500;
	}