html {
	margin: 0;
	padding: 0;
}

nav {text-align:center}

nav > ul > li {
	display:inline;
	padding-right: 10px;}
	
h1 {text-align:center;
	font-family: 120% 'Raleway', sans-serif;
	}

a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

body {
	width: 900px;
	font: normal 90% 'Merriweather', serif;
	color: #333;
	margin: 0px auto;
	padding: 0px 10px;
	}
div > ul {
	border-top: 1px solid #333;
	padding-top: 20px;
}
	
footer {
	border-top: 1px solid #333;
}