---
layout: default
---

{% for post in site.posts limit:10 %}
	<div>
		<h2><a href="{{ post.link }}">{{ post.title }}
				<!-- Whitespace added for code readability -->
				{% assign d = post.date | date: "%-d" %}
				{% case d %}
					{% when "1" or "21" or "31" %}{{ d }}st
					{% when "2" or "22" %}{{ d }}nd
					{% when "3" or "23" %}{{ d }}rd
					{% else %}{{ d }}th
				{% endcase %}
		{{ post.date | date: "%B, %Y" }}</a></h2>
		{{ post.content | split:'<!--break-->' | first }}
		{% if post.content contains '<!--break-->' %}
			<a href="{{ post.url }}">read more</a>
		{% endif %}
	</div>
{% endfor %}
