<!DOCTYPE html>
<html lang="en-uk">
<head>
<meta charset="UTF-8">
<title>Dweeb's Daily Digest</title>
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

<!-- for Google -->
<meta name="description" content="A curated collection of the days news, articles and info on tech, web and design." />
<meta name="keywords" content="Graphic Design, illustration, painting, photography, web design, tech, news" />

<meta name="author" content="by Barrie Phelan" />
<meta name="copyright" content="Open Source" />

<!-- for Facebook -->          
<meta property="og:title" content="Dweeb's Daily Digest" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://dummyimage.com/600x400/60affe/fff.png&text=Dweeb's+Daily+Digest" />
<meta property="og:url" content="http://bjpcorp.github.io/dweebs-daily-digest/" />
<meta property="og:description" content="A curated collection of the days news, articles and info on tech, web and design." />

<!-- for Twitter -->          
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://bjpcorp.github.io/dweebs-daily-digest/">
<meta name="twitter:domain" content="">
<meta name="twitter:site" content="@bjpcorp">
<meta name="twitter:creator" content="@bjpcorp">
<meta name="twitter:title" content="Dweeb's Daily Digest">
<meta name="twitter:description" content="A curated collection of the days news, articles and info on tech, web and design.">
<meta name="twitter:image:src" content="http://dummyimage.com/600x400/60affe/fff.png&text=Dweeb's+Daily+Digest">

<meta name="viewport" content="width=device-width, user-scalable=no">

</head>
<body>

<header>

<h1>Dweeb's Daily Digest</h1>

{% include nav.html %}
	
</header>